<html ng-app="GetPreset1">
	<!-- This page uses AngularJS -->
	<head>
	    <title>Show Preset URLs using AngularJS</title>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	    <script src="/js/get-preset-control-ajs.js"></script>
	    <meta charset="utf-8" />
 	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   		<title>QuickTabs</title>
    	<link rel="stylesheet" href="./foundation.css" />
    	<script src="js/vendor/modernizr.js"></script>
	</head>

	<body ng-controller="GetPreset1Ctrl">

	    <hr>

	    <div>
	    	    <div class="row">
					<div class="large-12 columns">
						<h3> Edit Preset </h3>
						<p>
					</div>
				</div>
				
	       		<div class="row">
	       			<div class="large-12 columns">
		       			<table>
						  <thead>
						    <tr>
						      <th width="150">URL List</th>
						      <th width="80">	</th>
						    </tr>
						  </thead>
						  <tbody>
						      <tr ng-repeat="url in presetitems"> <!-- runs javascript to print urls -->
		                   			<td>{{url}}</td>
		                   			<td><a class="button tiny button alert" ng-click="deleteUser(url)">Delete</a></td>
		               		  </tr>
						  </tbody>
						</table>
		            
			            <form>
						  <div class="row collapse">
							<div class="small-3 large-2 columns">
							  <span class="prefix">http://</span>
							</div>
							<div class="small-9 large-8 columns">
							  <input type="text" placeholder="Enter your URL..." ng-model="newUrl">
							</div>
							<div class="small-2 columns">
        					  <button class="button postfix" ng-click=addUrl()>Add</button>
       						</div>
						  </div>
						</form>
	            	    <a href="index.html" class="button small" >Done</a> </tr>
	            	</div>
	       	 </div>

	    </div>

	</body>

</html>
