<!doctype html>
<html ng-app="Index">
	<!-- This page uses AngularJS -->
	<head>
	    <title>QuickTabs Edit</title>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	    <script src="/js/index-control-ajs.js"></script>
	    <meta charset="utf-8" />
 	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   		<title>QuickTabs</title>
    	<link rel="stylesheet" href="./foundation.css" />
	</head>
  <body ng-controller="IndexCtrl">
      <div class="row">
        <div class="large-12 columns">
       
           
            <nav class="top-bar" data-topbar>
              <ul class="title-area">
                 
                <li class="name">
                  <h1>
                    <a href="#">
                      QuickTabs
                    </a>
                  </h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
              </ul>
            </nav>
          </div>
        </div>     
       
        <div class="row">
          <div class="large-12 columns">
	        <div class="row">
	          <div class="small-12 show-for-small"><br>
	            <img src="http://placehold.it/1000x600&text=For Small Screens"/>
	          </div>
	        </div>
          </div>
        </div><br>  
       
        <div class="row">
          <div class="large-12 columns">
            <div class="row">
       		  <form>
				  <div class="row">
				    <div class="small-8 columns">
				      <div class="row">
				        <div class="small-6 columns">
				          <label for="right-label" class="right inline">Username</label>
				        </div>
				        <div class="small-6 columns">
				          <input type="text" id="username" placeholder="Enter Unsername" ng-model="userId">
				        </div>
				      </div>
				    </div>
				  </div>
				  <div class="row">
				    <div class="small-8 columns">
				      <div class="row">
				        <div class="small-6 columns">
				          <label for="right-label" class="right inline">Password</label>
				        </div>
				        <div class="small-6 columns">
				          <input type="text" id="userPassword" placeholder="Enter Password" ng-model="password">
				        </div>
				        <div class="small-6 columns">
				         	   <button class="button small center" ng-click="login()">Login</button>
				      	</div>
				      </div>
				    </div>
				  </div>
				</form>
           
       
              <div class="large-3 small-6 columns">
                <img src="http://i.imgur.com/IrcY2QR.png"/>
                <h6 class="panel">Make Your Own Presets</h6>
              </div>
       
              <div class="large-3 small-6 columns">
                <img src="http://i.imgur.com/xlXOEJe.png"/>
                <h6 class="panel">Quick and Easy</h6>
              </div>
       
              <div class="large-3 small-6 columns">
                <img src="http://4.bp.blogspot.com/-1ZuEb7LNl8E/VWy43YsfMnI/AAAAAAAANmg/KUWz-3PcG28/s250-c/browser_logos_2015.jpg"/>
                <h6 class="panel">Browser Independent</h6>
              </div>
       
              <div class="large-3 small-6 columns">
                <img src="http://goo.gl/9NFXnJ"/>
                <a target="_blank" href="http://cs480-projects.github.io/teams-fall2015/shelter-cpp/team-page.html"><h6 class="panel">About Us</h6></a>
              </div>
              
              <div class="row">
              	<div class="large-12 columns">
	              <div class="large-6 columns">
	              	<h5>Note: Please <a target="_blank" href="http://www.geeksquad.com/do-it-yourself/tech-tips/disable-pop-up-blocker.aspx" >disable pop-up blocker </a>for our website.</h5>
	              </div>
	            </div>
			  </div>
			  
            </div>
          </div>
        </div>
    
  </body>
</html>